In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [70]:
orders = pd.read_csv('mart_overall.csv')
orders.shape

(98347, 18)

In [71]:
orders.columns

Index(['order_id', 'product_id', 'customer_id', 'seller_id', 'order_status',
       'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'days_to_delivery',
       'estimated_days_to_delivery', 'delay_flag_estimated', 'delay_flag_avg',
       'price', 'freight_value', 'quantity', 'distance'],
      dtype='object')

In [72]:
seller = pd.read_csv('dim_sellers.csv')
customer = pd.read_csv('dim_customers.csv')
orders = pd.merge(orders, seller, on='seller_id', how='left')
orders = pd.merge(orders, customer, on='customer_id', how='left')
orders.head()

,order_id,product_id,customer_id,seller_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,...,seller_lat,seller_lng,seller_region,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_lat,customer_lng,customer_region
0,e481f51cbdc54678b7cc49136f2d6af7,87285b34884572647811a353c7ac498a,9ef432eb6251297304e76186b10a928d,3504c0cb71d7fa48d967e0e4c94d59d9,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,...,-23.680729,-46.444238,남동부,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,-23.576983,-46.587161,남동부
1,53cdb2fc8bc7dce0b6741e2150273451,595fac2a385ac33a80bd5114aec74eb8,b0830fb4747a6c6d20dea0b8c802d7ef,289cdb325fb7e7f891c38608bf9e0962,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,...,-19.807681,-43.980427,남동부,af07308b275d755c9edb36a90c618231,47813,barreiras,TO,-12.135259,-45.005406,북부
2,53cdb2fc8bc7dce0b6741e2150273451,595fac2a385ac33a80bd5114aec74eb8,b0830fb4747a6c6d20dea0b8c802d7ef,289cdb325fb7e7f891c38608bf9e0962,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,...,-19.807681,-43.980427,남동부,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,-12.945892,-38.456194,북동부
3,53cdb2fc8bc7dce0b6741e2150273451,595fac2a385ac33a80bd5114aec74eb8,b0830fb4747a6c6d20dea0b8c802d7ef,289cdb325fb7e7f891c38608bf9e0962,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,...,-19.807681,-43.980427,남동부,af07308b275d755c9edb36a90c618231,47813,barreiras,TO,-12.135259,-45.005406,북부
4,53cdb2fc8bc7dce0b6741e2150273451,595fac2a385ac33a80bd5114aec74eb8,b0830fb4747a6c6d20dea0b8c802d7ef,289cdb325fb7e7f891c38608bf9e0962,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,...,-19.807681,-43.980427,남동부,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,-12.945892,-38.456194,북동부

In [73]:
reviews = pd.read_csv('dim_review.csv')
reviews.shape

(99224, 10)

In [74]:
orders = orders.merge(reviews, on='order_id')

In [79]:
orders.columns

Index(['order_id', 'product_id', 'customer_id', 'seller_id', 'order_status',
       'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'days_to_delivery',
       'estimated_days_to_delivery', 'delay_flag_estimated', 'delay_flag_avg',
       'price', 'freight_value', 'quantity', 'distance',
       'seller_zip_code_prefix', 'seller_city', 'seller_state', 'seller_lat',
       'seller_lng', 'seller_region', 'customer_unique_id',
       'customer_zip_code_prefix', 'customer_city', 'customer_state',
       'customer_lat', 'customer_lng', 'customer_region', 'review_id',
       'review_score', 'review_comment_title', 'review_comment_message',
       'review_creation_date', 'review_answer_timestamp',
       'review_comment_message_tokens', 'sentimental', 'ngrams'],
      dtype='object')

In [80]:
orders.to_csv('mart_reviews.csv', index=False)

In [81]:
from pyspark.sql import SparkSession
# Spark 세션 생성
spark = SparkSession.builder.appName("olist").getOrCreate()

spk_orders = spark.read.csv('mart_reviews.csv', header=True, inferSchema=True)
spk_orders.createOrReplaceTempView("orders")

- 셀러와 구매자가 같은 주인 그룹 (A) / 셀러와 구매자가 다른 주인 그룹 (B)으로 나누어서 배송기간과 리뷰 점수

In [82]:
from pyspark.sql.functions import col, when, count, isnan, isnull, mean, lit, sum, avg, round
spk_orders = spk_orders.withColumn("same_state", when(col("seller_state") == col("customer_state"), "Yes").otherwise("No"))

In [83]:
spk_orders = spk_orders.withColumn("delay_flag_estimated",when(col("delay_flag_estimated") == 1, "Yes").otherwise("No"))

In [84]:
spk_orders = spk_orders.withColumn("delay_flag_avg",when(col("delay_flag_avg") == 1, "Yes").otherwise("No"))

In [85]:
spk_orders.show()

+--------------------+--------------------+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+----------------+--------------------------+--------------------+--------------+------+-------------+--------+------------------+----------------------+--------------------+------------+-------------------+-------------------+-------------+--------------------+------------------------+--------------------+--------------+-------------------+-------------------+---------------+--------------------+------------+--------------------+----------------------+--------------------+-----------------------+-----------------------------+-----------+--------------------+----------+
|            order_id|          product_id|         customer_id|           seller_id|order_status|order_purchase_timestamp|  order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|days_to_delivery|estimated_days_to_delivery|delay_flag_estimated|delay_flag_avg| price|freight_value|quantity|          distance|seller_zip_code_prefix|         seller_city|seller_state|         seller_lat|         seller_lng|seller_region|  customer_unique_id|customer_zip_code_prefix|       customer_city|customer_state|       customer_lat|       customer_lng|customer_region|           review_id|review_score|review_comment_title|review_comment_message|review_creation_date|review_answer_timestamp|review_comment_message_tokens|sentimental|              ngrams|same_state|
+--------------------+--------------------+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+----------------+--------------------------+--------------------+--------------+------+-------------+--------+------------------+----------------------+--------------------+------------+-------------------+-------------------+-------------+--------------------+------------------------+--------------------+--------------+-------------------+-------------------+---------------+--------------------+------------+--------------------+----------------------+--------------------+-----------------------+-----------------------------+-----------+--------------------+----------+
|e481f51cbdc54678b...|87285b34884572647...|9ef432eb625129730...|3504c0cb71d7fa48d...|   delivered|     2017-10-02 10:56:33|2017-10-02 11:07:15|         2017-10-04 19:55:00|          2017-10-10 21:25:13|                   2017-10-18|               8|                        15|                  No|            No| 29.99|         8.72|       1| 18.56663236484241|                  9350|                maua|          SP|-23.680729252163324| -46.44423827270239|       남동부|7c396fd4830fd0422...|                    3149|           sao paulo|            SP| -23.57698293467452| -46.58716127427677|         남동부|a54f0611adc9ed256...|           4|                NULL|  negação testei pr...| 2017-10-11 00:00:00|    2017-10-12 03:43:48|         ['negação', 'test...|   Negative|veio correto, neg...|       Yes|
|53cdb2fc8bc7dce0b...|595fac2a385ac33a8...|b0830fb4747a6c6d2...|289cdb325fb7e7f89...|   delivered|     2018-07-24 20:41:37|2018-07-26 03:24:27|         2018-07-26 14:31:00|          2018-08-07 15:27:45|                   2018-08-13|              12|                        17|                  No|           Yes| 118.7|        22.76|       1|  856.076259389407|                 31570|      belo horizonte|          MG| -19.80768065786215| -43.98042684085744|       남동부|af07308b275d755c9...|                   47813|           barreiras|            TO|-12.135259405766826| -45.00540585074388|           북부|8d5266042046a0665...|           4|    Muito boa a loja|           bom produto| 2018-08-08 00:00:00|    2018-08-08 18:37:50|           ['bom', 'produto']|   Positive|bom produto, ador...|        No|
|53cdb2fc8bc7dce0b...|595fac2a385ac33a8...|b0830fb4747a6c6d2...|289cdb325fb7e7f89...|   delivered|     2018-07-24 20:41:37|2018-07-26 03:24:27|         2018-07-26 14:31:00|          2018-08-07 15:27:45|                   2018-08-13|              12|                        17|                  No|           Yes| 118.7|        22.76|       1|  856.076259389407|                 31570|      belo horizonte|          MG| -19.80768065786215| -43.98042684085744|       남동부|af07308b275d755c9...|                   47813|           barreiras|            BA|-12.945892499999994| -38.45619449999999|         북동부|8d5266042046a0665...|           4|    Muito boa a loja|           bom produto| 2018-08-08 00:00:00|    2018-08-08 18:37:50|           ['bom', 'produto']|   Positive|bom produto, ador...|        No|
|53cdb2fc8bc7dce0b...|595fac2a385ac33a8...|b0830fb4747a6c6d2...|289cdb325fb7e7f89...|   delivered|     2018-07-24 20:41:37|2018-07-26 03:24:27|         2018-07-26 14:31:00|          2018-08-07 15:27:45|                   2018-08-13|              12|                        17|                  No|           Yes| 118.7|        22.76|       1| 961.4370293229758|                 31570|      belo horizonte|          MG| -19.80768065786215| -43.98042684085744|       남동부|af07308b275d755c9...|                   47813|           barreiras|            TO|-12.135259405766826| -45.00540585074388|           북부|8d5266042046a0665...|           4|    Muito boa a loja|           bom produto| 2018-08-08 00:00:00|    2018-08-08 18:37:50|           ['bom', 'produto']|   Positive|bom produto, ador...|        No|
|53cdb2fc8bc7dce0b...|595fac2a385ac33a8...|b0830fb4747a6c6d2...|289cdb325fb7e7f89...|   delivered|     2018-07-24 20:41:37|2018-07-26 03:24:27|         2018-07-26 14:31:00|          2018-08-07 15:27:45|                   2018-08-13|              12|                        17|                  No|           Yes| 118.7|        22.76|       1| 961.4370293229758|                 31570|      belo horizonte|          MG| -19.80768065786215| -43.98042684085744|       남동부|af07308b275d755c9...|                   47813|           barreiras|            BA|-12.945892499999994| -38.45619449999999|         북동부|8d5266042046a0665...|           4|    Muito boa a loja|           bom produto| 2018-08-08 00:00:00|    2018-08-08 18:37:50|           ['bom', 'produto']|   Positive|bom produto, ador...|        No|
|47770eb9100c2d0c4...|aa4383b373c6aca5d...|41ce2a54c0b03bf34...|4869f7a5dfa277a7d...|   delivered|     2018-08-08 08:38:49|2018-08-08 08:55:23|         2018-08-08 13:50:00|          2018-08-17 18:06:29|                   2018-09-04|               9|                        26|                  No|            No| 159.9|        19.22|       1| 512.1000435081403|                 14840|             guariba|          SP| -21.36350170979939| -48.22960077888057|       남동부|3a653a41f6f9fc3d2...|                   75265|          vianopolis|            GO|-16.745149541882594| -48.51478334802312|         중서부|e73b67b67587f7644...|           5|                NULL|                  NULL| 2018-08-18 00:00:00|    2018-08-22 19:07:58|                           []|    Neutral|                NULL|        No|
|949d5b44dbf5de918...|d0b61bfb1de832b15...|f88197465ea7920ad...|66922902710d126a0...|   delivered|     2017-11-18 19:28:06|2017-11-18 19:45:59|         2017-11-22 13:39:59|          2017-12-02 00:28:42|                   2017-12-15|              13|                        26|                  No|           Yes|  45.0|         27.2|       1|1816.0856547649028|                 31842|      belo horizonte|          MG| -19.83768155726055| -43.92405254267352|       남동부|7c142cf63193a1473...|                   59296|sao goncalo do am...|            RN| -5.774190270584408|-35.271143276096765|         북동부|359d03e676b3c069f...|           5|                NULL|  produto exatament...| 2017-12-03 00:00:00|    2017-12-05 19:21:58|         ['produto', 'exat...|    Neutral|produto exatament...|        No|
|ad21c59c0840e6cb8...|65266b2da20d04dbe...|8ab97904e6daea886...|2c9e548be18521d1c...|   delivered|     2018-02-13 21:18:39|2018-02-13 22:20:29|         2018-02-14 19:46:34|          2018-02-16 18:17:02|                   2018-02-26|               2|                        12|                  No|            No|  19.9|         8.72|       1|  29.6844011453594|                  8752|     mogi das cruzes|          SP| -23.54339460016357|-46.262085681846166|       남동부|72632f0f9dd73dfee...|                    9195|         santo andre|            SP| -23.67636972794609|  -46.5146273295094|         남동부|e50934924e227544b...|           5|                NULL|                  NULL| 2018-02-17 00:00:00|    2018-02-18 13:02:51|                           []|    Neutral|                NULL|       Yes|
|a4591c265e18cb1dc...|060cb19345d90064d...|503740e9ca751ccdd...|8581055ce74af1dab...|   delivered|     2017-07-09 21:57:05|2017-07-09 22:10:13|         2017-07-11 14:58:04|          2017-07-26 10:57:55|                   2017-08-01|              16|                        22|                  No|           Yes| 147.9|        27.36|       1| 412.0735648226322|                  7112|           guarulhos|          SP| -23.46870426001278|-46.516141894926825|       남동부|80bb27c7c16e8f973...|                   86320|        congonhinhas|            PR|-23.553522043896585| -50.54992367333536|           남부|89b738e70a1ce346d...|           4|                NULL|                  NULL| 2017-07-27 00:00:00|    2017-07-27 22:48:30|                           []|    Neutral|                NULL|        No|
|6514b8ad8028c9f2c...|4520766ec412348b8...|9bdf08b4b3b52b552...|16090f2ca825584b5...|   delivered|     2017-05-16 13:10:30|2017-05-16 13:22:11|         2017-05-22 10:07:46|          2017-05-26 12:55:51|                   2017-06-07|               9|                        21|                  No|            No| 59.99|        15.17|       1|322.78177853287303|                 12940|             atibaia|          SP| -23.11473052430801| -46.55288053987791|       남동부|932afa1e708222e58...|                   26525|           nilopolis|            RJ|-22.805706631753832| -43.42307905240664|         남동부|07d67dd06ed5f88be...|           5|                NULL|                  NULL| 2017-05-27 00:00:00|    2017-05-28 02:59:57|                           []|    Neutral|                NULL|        No|
|76c6e866289321a7c...|ac1789e492dcd698c...|f54a9f0e6b351c431...|63b9ae557efed31d1...|   delivered|     2017-01-23 18:29:09|2017-01-25 02:50:47|         2017-01-26 14:16:31|          2017-02-02 14:08:10|                   2017-03-06|               8|                        39|                  No|            No|  19.9|        16.05|       1| 868.7354847517312|                 13720|sao jose do rio p...|          SP| -21.58298742993432| -46.94775856933444|       남동부|39382392765b6dc74...|                   99655|        faxinalzinho|            RS| -27.42176863536326| -52.67502180601173|           남부|fc4af8aea8ec3f1a3...|           1|                NULL|                  NULL| 2017-02-03 00:00:00|    2017-02-05 01:58:35|                           []|    Neutral|                NULL|        No|
|e69bfb5eb88e0ed6a...|9a78fb9862b10749a...|31ad1d1b63eb99624...|7c67e1448b00f6e96...|   delivered|     2017-07-29 11:55:02|2017-07-29 12:05:32|         2017-08-10 19:45:24|          2017-08-16 17:14:30|                   2017-08-23|              18|                        24|                  No|           Yes|149.99|        19.77|       1| 112.4488109077658|                  8577|     itaquaquecetuba|          SP| -23.48611145466222| -46.36672076531711|       남동부|299905e3934e9e181...|                   18075|            sorocaba|            SP| -23.47403034937185| -47.46739714652168|         남동부|abc5655186d40772b...|           5|                NULL|                  NULL| 2017-08-17 00:00:00|    2017-08-18 01:47:32|                           []|    Neutral|                NULL|       Yes|
|e6ce16cb79ec1d90b...|08574b074924071f4...|494dded5b201313c6...|001cca7ae9ae17fb1...|   delivered|     2017-05-16 19:41:10|2017-05-16 19:50:18|         2017-05-18 11:40:40|          2017-05-29 11:18:31|                   2017-06-07|              12|                        21|                  No|           Yes|  99.0|        30.53|       2| 414.4295916171079|                 29156|           cariacica|          ES| -20.27851289140612| -40.41167522341207|       남동부|f2a85dec752b8517b...|                   20780|      rio de janeiro|            RJ|  -22.8964631877728| -43.27217170225893|         남동부|15898b543726a832d...|           1|                NULL|  aguardando retorn...| 2017-05-30 00:00:00|    2017-05-30 23:13:47|         ['aguardando', 'r...|    Neutral|aguardando retorn...|        No|
|34513ce0c4fab462a...|f7e0fa615b386bc9a...|7711cf624183d843a...|87142160b41353c4e...|   delivered|     2017-07-13 19:58:11|2017-07-13 20:10:08|         2017-07-14 18:43:29|          2017-07-19 14:04:48|                   2017-08-08|               5|                        25|                  No|            No|  98.0|        16.13|       1| 843.7621479357728|                 90230|        porto alegre|          RS| -30.00818156770629| -51.20130443913637|         남부|782987b81c92239d9...|                    4278|           sao paulo|            SP| -23.60185598318482| -46.60890962544776|         남동부|a932e1fddc0c17fc2...|           4|                NULL|                  NULL| 2017-07-20 00:00:00|    2017-07-22 20:11:54|                           []|    Neutral|                NULL|        No|
|82566a660a982b15f...|72a97c271b2e42997...|d3e3b74c766bc6214...|094ced053e257ae8c...|   delivered|     2018-06-07 10:06:19|2018-06-09 03:13:12|         2018-06-11 13:29:00|          2018-06-19 12:05:52|                   2018-07-18|              10|                        38|                  No|            No|  31.9|        18.23|       1| 452.3558744871585|                 14095|      ribeirao preto|          SP|-21.191022995550163| -47.76791416876063|       남동부|e97109680b052ee85...|                   35400|          ouro preto|            MG| -20.39101146673796|-43.507047162023525|         남동부|ed220e853e96b6291...|           5|                NULL|                  NULL| 2018-06-20 00:00:00|    2018-06-20 15:31:29|                           []|    Neutral|                NULL|        No|
|5ff96c15d0b717ac6...|10adb53d8faa890ca...|19402a48fe860416a...|1900267e848ceeba8...|   delivered|     2018-07-25 17:44:10|2018-07-25 17:55:14|         2018-07-26 13:16:00|          2018-07-30 15:52:25|                   2018-08-08|               4|                        13|                  No|            No|  19.9|         12.8|       1| 308.7603195636562|                 14940|            ibitinga|          SP| -21.75732063771276| -48.82974353343716|       남동부|e2dfa3127fedbbca9...|                    4812|           sao paulo|            SP|-23.713190055129683| -46.68740654135837|         남동부|346e42116863ea64d...|           5|                NULL|                  NULL| 2018-07-31 00:00:00|    2018-08-02 21:15:12|                           []|    Neutral|                NULL|       Yes|
|432aaf21d85167c2c...|72d3bf1d3a790f887...|3df704f53d3f1d481...|0bae85eb84b9fb3bd...|   delivered|     2018-03-01 14:14:28|2018-03-01 15:10:47|         2018-03-02 21:09:20|          2018-03-12 23:36:26|                   2018-03-21|              11|                        19|                  No|           Yes| 38.25|        16.11|       1| 428.9719409968604|                 88301|              itajai|          SC| -26.91187688025883| -48.65639411001171|         남부|04cf8185c71090d28...|                    5271|           sao paulo|            SP|-23.429709785931948| -46.79422972458774|         남동부|8f39f09c22b1ceb6e...|           4|                NULL|        gostei produto| 2018-03-13 00:00:00|    2018-03-14 10:36:16|         ['gostei', 'produ...|   Positive|gostei produto, a...|        No|
|dcb36b511fcac050b...|009c09f439988bc06...|3b6828a50ffe54694...|89a51f50b8095ea78...|   delivered|     2018-06-07 19:03:12|2018-06-12 23:31:02|         2018-06-11 14:54:00|          2018-06-21 15:34:32|                   2018-07-04|               8|                        21|                  No|            No| 132.4|        14.05|       1| 161.1210713943329|                 71931|            brasilia|          DF| -15.83679338044598| -48.03955332417536|       중서부|ccafc1c3f27041052...|                   74820|             goiania|            GO| -16.70612897434552| -49.24875756948971|         중서부|5a8608437f4b52bec...|           5|            Nota dez|  obrigado atenção ...| 2018-07-03 00:00:00|    2018-07-03 15:10:07|         ['obrigado', 'ate...|   Positive|lojas lannister, ...|        No|
|116f0b09343b49556...|a47295965bd091207...|3187789bec9909876...|ea8482cd71df3c196...|   delivered|     2017-12-26 23:41:31|2017-12-26 23:50:22|         2017-12-28 18:33:05|          2018-01-08 22:36:36|                   2018-01-29|              12|                        33|                  No|           Yes| 27.99|         15.1|       1| 550.7164777629624|                  4160|           sao paulo|          SP| -23.62547545562188| -46.61200044104113|       남동부|6087cfc70fd833cf2...|                   88780|            imbituba|            SC|-28.231882617674767| -48.67933195388163|           남부|0c00083494717bc36...|           5|                NULL|                  NULL| 2018-01-09 00:00:00|    2018-01-12 01:09:35|                           []|    Neutral|                NULL|        No|
|85ce859fd6dc634de...|cce679660c66e6fbd...|059f7fc5719c7da6c...|d2374cbcbb3ca4ab1...|   delivered|     2017-11-21 00:03:41|2017-11-21 00:14:22|         2017-11-23 21:32:26|          2017-11-27 18:28:00|                   2017-12-11|               6|                        19|                  No|            No|  17.9|        11.85|       1| 209.6606162895269|                 14940|            ibitinga|          SP| -21.75732063771276| -48.82974353343716|       남동부|d0ff1a7468fcc46b8...|                   13186|         hortolandia|            SP|-22.889982360458344| -47.19898012005198|         남동부|70c498f6918af37d6...|           5|                NULL|                  NULL| 2017-11-28 00:00:00|    2017-11-28 22:12:02|                           []|    Neutral|                NULL|       Yes|
+--------------------+--------------------+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+----------------+--------------------------+--------------------+--------------+------+-------------+--------+------------------+----------------------+--------------------+------------+-------------------+-------------------+-------------+--------------------+------------------------+--------------------+--------------+-------------------+-------------------+---------------+--------------------+------------+--------------------+----------------------+--------------------+-----------------------+-----------------------------+-----------+--------------------+----------+
only showing top 20 rows

In [86]:
# Create a temporary view from the DataFrame
spk_orders.createOrReplaceTempView("df_view")

query = """
    SELECT AVG(review_score) as avg_review_score,COUNT(DISTINCT order_id) as cnt, same_state ,AVG(estimated_days_to_delivery) as avg_estimated_days_to_delivery , AVG(days_to_delivery) as avg_days_to_delivery
    FROM df_view
    GROUP BY same_state
    ORDER BY same_state
"""
spark.sql(query).show()

+-----------------+-----+----------+------------------------------+--------------------+
| avg_review_score|  cnt|same_state|avg_estimated_days_to_delivery|avg_days_to_delivery|
+-----------------+-----+----------+------------------------------+--------------------+
|4.206247767236931|56047|        No|            25.391590256552746|  12.180248481721113|
|4.273393553205891|33692|       Yes|            16.300585860000467|   6.501085358168195|
+-----------------+-----+----------+------------------------------+--------------------+

In [87]:
query = """
    SELECT AVG(review_score) as avg_review_score
    FROM df_view
"""
spark.sql(query).show()

+----------------+
|avg_review_score|
+----------------+
|4.23053993345831|
+----------------+

In [88]:
# Create a temporary view from the DataFrame
spk_orders.createOrReplaceTempView("df_view")

query = """
    SELECT  same_state ,delay_flag_estimated,COUNT(DISTINCT order_id) as cnt
    FROM df_view
    GROUP BY same_state,delay_flag_estimated
    ORDER BY same_state,delay_flag_estimated
"""
spark.sql(query).show()

+----------+--------------------+-----+
|same_state|delay_flag_estimated|  cnt|
+----------+--------------------+-----+
|        No|                  No|54075|
|        No|                 Yes| 1972|
|       Yes|                  No|32104|
|       Yes|                 Yes| 1588|
+----------+--------------------+-----+

In [89]:
df = spk_orders

In [90]:
import scipy.stats as stats
pdf = df.select('review_score', 'days_to_delivery').toPandas()

# Convert review_score to numeric
pdf['review_score'] = pd.to_numeric(pdf['review_score'])

corr, p_value = stats.pearsonr(pdf['review_score'], pdf['days_to_delivery'])
print("Correlation: ", corr)
print("P-value: ", p_value)

Correlation:  -0.17466135223796891
P-value:  0.0

- 예상과 다르게 배송기간과 만족도와 유의미한 상관관계가 없다.
- p_val이 0.05보다 작아 통계적으로 유의미하다 볼 수 있으나, 다른 요인에 의해 강한 영향을 받을것 같다.

In [98]:
# Convert Spark DataFrame to Pandas DataFrame
pdf = df.select('review_score', 'delay_flag_estimated','delay_flag_avg','same_state').toPandas()

A_grouped = pdf.loc[pdf['delay_flag_estimated'] == 'Yes']['review_score'].astype(float)
B_grouped = pdf.loc[pdf['delay_flag_estimated'] == 'No']['review_score'].astype(float)

t_stat , p_value = stats.ttest_ind(A_grouped, B_grouped)
print("T-statistic: ", t_stat)
print("P-value: ", p_value)
print("지연 배송 평균 리뷰 점수:", A_grouped.mean())
print("정상 배송 평균 리뷰 점수:", B_grouped.mean())

T-statistic:  -67.03772226176206
P-value:  0.0
지연 배송 평균 리뷰 점수: 3.1079958463136035
정상 배송 평균 리뷰 점수: 4.278116665346325

In [99]:

A_grouped = pdf.loc[pdf['delay_flag_avg'] == 'Yes']['review_score'].astype(float)
B_grouped = pdf.loc[pdf['delay_flag_avg'] == 'No']['review_score'].astype(float)

t_stat , p_value = stats.ttest_ind(A_grouped, B_grouped)
print("T-statistic: ", t_stat)
print("P-value: ", p_value)
print("지연 배송 평균 리뷰 점수:", A_grouped.mean())
print("정상 배송 평균 리뷰 점수:", B_grouped.mean())

T-statistic:  -42.17078032500179
P-value:  0.0
지연 배송 평균 리뷰 점수: 4.051297665042836
정상 배송 평균 리뷰 점수: 4.35111161332241

In [101]:
# 4가지 그룹으로 분류
A_grouped = pdf.loc[(pdf['delay_flag_estimated'] == 'Yes') & (pdf['same_state'] == 'No'), 'review_score'].astype(float)
B_grouped = pdf.loc[(pdf['delay_flag_estimated'] == 'Yes') & (pdf['same_state'] == 'Yes'), 'review_score'].astype(float)
C_grouped = pdf.loc[(pdf['delay_flag_estimated'] == 'No') & (pdf['same_state'] == 'No'), 'review_score'].astype(float)
D_grouped = pdf.loc[(pdf['delay_flag_estimated'] == 'No') & (pdf['same_state'] == 'Yes'), 'review_score'].astype(float)

# 평균 비교
print("A (지연 배송 & 다른 주) 평균 리뷰 점수:", A_grouped.mean())
print("B (지연 배송 & 같은 주) 평균 리뷰 점수:", B_grouped.mean())
print("C (정상 배송 & 다른 주) 평균 리뷰 점수:", C_grouped.mean())
print("D (정상 배송 & 같은 주) 평균 리뷰 점수:", D_grouped.mean())

A (지연 배송 & 다른 주) 평균 리뷰 점수: 3.0862745098039217
B (지연 배송 & 같은 주) 평균 리뷰 점수: 3.138308457711443
C (정상 배송 & 다른 주) 평균 리뷰 점수: 4.249416000219859
D (정상 배송 & 같은 주) 평균 리뷰 점수: 4.329267994024441

- 예상 배송 기간에 비해 실제 배송 기간이 더 긴 경우 실제 배송기간과 상관없이 만족도가 현저히 떨어짐을 알 수 있다.
- 마찬가지로 평균 배송기간에 비해 실제 배송 기간이 더 긴 경우에도 만족도가 떨어짐을 알 수 있다.

In [ ]:

query = """
        SELECT seller_region , COUNT(DISTINCT order_id) as cnt
    FROM df_view
    GROUP BY seller_region
    ORDER BY 2 DESC
"""
spark.sql(query).show()

+-------------+-----+
|seller_region|  cnt|
+-------------+-----+
|       남동부|74452|
|         남부|12357|
|       중서부| 1546|
|       북동부| 1431|
|         북부|   33|
+-------------+-----+

In [103]:

query = """
        SELECT customer_region , COUNT(DISTINCT order_id) as cnt
    FROM df_view
    GROUP BY customer_region
    ORDER BY 2 DESC
"""
spark.sql(query).show()

+---------------+-----+
|customer_region|  cnt|
+---------------+-----+
|         남동부|62372|
|           남부|12870|
|         북동부| 7455|
|         중서부| 5523|
|           북부| 1369|
+---------------+-----+

In [104]:
query = """
    SELECT seller_region , customer_region, COUNT(DISTINCT order_id) as cnt
    FROM df_view
    GROUP BY seller_region,customer_region
    ORDER BY 3 DESC
"""
spark.sql(query).show()

+-------------+---------------+-----+
|seller_region|customer_region|  cnt|
+-------------+---------------+-----+
|       남동부|         남동부|53096|
|       남동부|           남부| 9656|
|         남부|         남동부| 7881|
|       남동부|         북동부| 6252|
|       남동부|         중서부| 4567|
|         남부|           남부| 3043|
|       남동부|           북부| 1167|
|       중서부|         남동부| 1011|
|       북동부|         남동부|  759|
|         남부|         북동부|  676|
|         남부|         중서부|  658|
|       북동부|         북동부|  406|
|       중서부|         중서부|  213|
|       중서부|         북동부|  160|
|         남부|           북부|  141|
|       중서부|           남부|  132|
|       북동부|           남부|  130|
|       북동부|         중서부|  115|
|       중서부|           북부|   37|
|       북동부|           북부|   29|
+-------------+---------------+-----+
only showing top 20 rows

In [119]:
query = """
    SELECT seller_region , customer_region,ROUND(SUM(CASE WHEN delay_flag_estimated = "Yes" THEN 1 ELSE 0 END)/COUNT(DISTINCT order_id)*100.0,2) as delay_proportion
    ,COUNT(DISTINCT order_id) as cnt
    FROM df_view
    WHERE seller_region != '북부'
    GROUP BY seller_region,customer_region
    ORDER BY 3 DESC
"""
spark.sql(query).show()

+-------------+---------------+----------------+-----+
|seller_region|customer_region|delay_proportion|  cnt|
+-------------+---------------+----------------+-----+
|       중서부|           북부|           21.62|   37|
|       북동부|         중서부|           15.65|  115|
|       북동부|           남부|           13.08|  130|
|       중서부|         중서부|            9.86|  213|
|       남동부|         중서부|            8.19| 4567|
|       북동부|         북동부|             6.9|  406|
|       중서부|         북동부|            6.25|  160|
|       남동부|         남동부|            6.08|53096|
|       중서부|           남부|            6.06|  132|
|       남동부|         북동부|            4.96| 6252|
|       중서부|         남동부|            4.75| 1011|
|       남동부|           북부|            4.63| 1167|
|       북동부|         남동부|            4.61|  759|
|       남동부|           남부|            3.79| 9656|
|       북동부|           북부|            3.45|   29|
|         남부|           남부|            3.02| 3043|
|         남부|         북동부|            2.66|  676|
|         남부|         남동부|            2.06| 7881|
|         남부|         중서부|            1.98|  658|
|         남부|           북부|            1.42|  141|
+-------------+---------------+----------------+-----+

In [120]:
query = """
    SELECT seller_region , customer_region, COUNT(DISTINCT order_id) as cnt , ROUND(AVG(distance),2) as avg_distance
    FROM df_view
    WHERE delay_flag_estimated = 'Yes'
    GROUP BY seller_region,customer_region
    ORDER BY 3 DESC
"""
spark.sql(query).show()

+-------------+---------------+----+------------+
|seller_region|customer_region| cnt|avg_distance|
+-------------+---------------+----+------------+
|       남동부|         남동부|2513|      302.45|
|       남동부|           남부| 258|      657.66|
|       남동부|         북동부| 225|     1825.38|
|       남동부|         중서부| 195|      814.23|
|         남부|         남동부| 150|      685.36|
|         남부|           남부|  80|      475.34|
|       북동부|         남동부|  31|     2048.99|
|       중서부|         남동부|  21|      805.43|
|       남동부|           북부|  20|     2005.64|
|       북동부|         북동부|  17|      458.89|
|         남부|         북동부|  15|     2721.56|
|         남부|         중서부|  10|     1089.24|
|       북동부|           남부|  10|     2470.44|
|       북동부|         중서부|   9|      1570.5|
|       중서부|         중서부|   8|      304.94|
|       중서부|           남부|   4|      1119.8|
|       중서부|         북동부|   4|     1539.25|
|         남부|           북부|   2|     1801.09|
|       중서부|           북부|   2|      895.47|
|         북부|         북동부|   1|      524.84|
+-------------+---------------+----+------------+
only showing top 20 rows

In [121]:
query = """
    SELECT seller_region , customer_region, ROUND(COUNT(DISTINCT 
        CASE WHEN delay_flag_estimated = 'Yes' THEN order_id END)/COUNT(DISTINCT order_id)*100.0,2) as cnt
        ,ROUND(AVG(distance),2) as avg_distance
    FROM df_view
    WHERE seller_region != '북부'
    GROUP BY seller_region,customer_region
    ORDER BY 3 DESC
"""
spark.sql(query).show()

+-------------+---------------+----+------------+
|seller_region|customer_region| cnt|avg_distance|
+-------------+---------------+----+------------+
|       북동부|         중서부|7.83|     1583.28|
|       북동부|           남부|7.69|     2357.93|
|       중서부|           북부|5.41|     1224.75|
|       남동부|         남동부|4.73|      283.64|
|       남동부|         중서부|4.27|      853.31|
|       북동부|         북동부|4.19|      623.57|
|       북동부|         남동부|4.08|     1531.66|
|       중서부|         중서부|3.76|      258.96|
|       남동부|         북동부| 3.6|     1755.51|
|       북동부|           북부|3.45|     1793.58|
|       중서부|           남부|3.03|     1190.29|
|       남동부|           남부|2.67|      731.04|
|         남부|           남부|2.63|      384.07|
|       중서부|         북동부| 2.5|     1403.66|
|         남부|         북동부|2.22|     2277.25|
|       중서부|         남동부|2.08|      790.29|
|         남부|         남동부| 1.9|      684.39|
|       남동부|           북부|1.71|      2051.3|
|         남부|         중서부|1.52|     1128.53|
|         남부|           북부|1.42|     2272.19|
+-------------+---------------+----+------------+

In [ ]:
import scipy.stats as stats
pdf = df.select('review_score', 'days_to_delivery').toPandas()

# Convert review_score to numeric
pdf['review_score'] = pd.to_numeric(pdf['review_score'])

corr, p_value = stats.pearsonr(pdf['review_score'], pdf['days_to_delivery'])
print("Correlation: ", corr)
print("P-value: ", p_value)

 - 예상 배송시간은 어떻게 산정되는가?
    - 예상 배송시간의 분포..

In [37]:
# Convert Spark DataFrame to Pandas DataFrame
pdf = df.toPandas()

A_grouped = pdf.loc[pdf['delay_flag_estimated'] == 'Yes']['distance'].astype(float)
B_grouped = pdf.loc[pdf['delay_flag_estimated'] == 'No']['distance'].astype(float)

t_stat , p_value = stats.ttest_ind(A_grouped, B_grouped)
print("T-statistic: ", t_stat)
print("P-value: ", p_value)
print("지연 배송 평균 거리(km):", A_grouped.mean())
print("정상 배송 평균 거리(km):", B_grouped.mean())

T-statistic:  -7.186129858260473
P-value:  6.712447462292546e-13
지연 배송 평균 거리(km): 509.4861533180567
정상 배송 평균 거리(km): 577.0121963461853

In [16]:
query = """
    SELECT COUNT(DISTINCT order_id) as cnt, delay_flag_estimated ,seller_state
    FROM df_view
    WHERE delay_flag_estimated = 'Yes'
    GROUP BY delay_flag_estimated, seller_state
    ORDER BY delay_flag_estimated, seller_state
"""
spark.sql(query).show()

+----+--------------------+------------+
| cnt|delay_flag_estimated|seller_state|
+----+--------------------+------------+
|  16|                 Yes|          BA|
|   3|                 Yes|          CE|
|  20|                 Yes|          DF|
|  13|                 Yes|          ES|
|   6|                 Yes|          GO|
|  39|                 Yes|          MA|
| 159|                 Yes|          MG|
|  11|                 Yes|          MS|
|   2|                 Yes|          MT|
|   8|                 Yes|          PE|
| 139|                 Yes|          PR|
| 183|                 Yes|          RJ|
|   1|                 Yes|          RN|
|  40|                 Yes|          RS|
|  77|                 Yes|          SC|
|   1|                 Yes|          SE|
|2843|                 Yes|          SP|
|   1|                 Yes|          TO|
+----+--------------------+------------+

In [36]:
from pyspark.sql.functions import avg

df.agg(avg('review_score').alias('avg_review_score')).show()

+-----------------+
| avg_review_score|
+-----------------+
|4.231621236777868|
+-----------------+

#### 브라질 3대 지역 vs 나머지 비교

-  group_A = ['SP', 'RJ', 'MG'](상파울루 ,미나스제라이스,리우데자네이루), group_B = 나머지
-  group_A의 배송기간과 만족도와 group_B의 배송기간과 만족도를 비교

In [ ]:
query = """
    SELECT seller_region , customer_region, COUNT(DISTINCT order_id) as cnt , ROUND(AVG(distance),2) as avg_distance
    FROM df_view
    WHERE delay_flag_estimated = 'Yes' AND
"""