In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [13]:
from pyspark.sql import SparkSession
# Spark 세션 생성
spark = (
    SparkSession.builder
    .appName("olist")
    .config("spark.driver.memory", "6g")
    .config("spark.executor.memory", "6g")
    .config("spark.sql.shuffle.partitions", "8")
    .getOrCreate()
)

orders = spark.read.csv('/app/spark/Olist/fact_table/fact_orders.csv',header=True,inferSchema=True)
items=spark.read.csv('/app/spark/Olist/fact_table/fact_items.csv',header=True,inferSchema=True)
order_items = orders.join(items, on='order_id')

In [14]:
order_items.show(5)

+--------------------+--------------------+------------+------------------------+-----------------+----------------------------+-----------------------------+-----------------------------+----------------+--------------------------+--------------------+--------------+--------------------+--------------------+-------------------+------+-------------+-----+
|            order_id|         customer_id|order_status|order_purchase_timestamp|order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|days_to_delivery|estimated_days_to_delivery|delay_flag_estimated|delay_flag_avg|          product_id|           seller_id|shipping_limit_date| price|freight_value|count|
+--------------------+--------------------+------------+------------------------+-----------------+----------------------------+-----------------------------+-----------------------------+----------------+--------------------------+--------------------+--------------+--------------------+--------------------+-------------------+------+-------------+-----+
|0005f50442cb953dc...|351d3cb2cee3c7fd0...|   delivered|              2018-07-02|       2018-07-02|                  2018-07-03|                   2018-07-04|                   2018-07-23|               2|                        21|                   0|             0|4535b0e1091c278df...|ba143b05f0110f0dc...|2018-07-06 14:10:56| 53.99|         11.4|    1|
|00061f2a7bc09da83...|c6fc061d86fab1e2b...|   delivered|              2018-03-24|       2018-03-24|                  2018-03-27|                   2018-03-29|                   2018-04-09|               5|                        16|                   0|             0|d63c1011f49d98b97...|cc419e0650a3c5ba7...|2018-03-29 22:28:09| 59.99|         8.88|    1|
|00063b381e2406b52...|6a899e55865de6549...|   delivered|              2018-07-27|       2018-07-27|                  2018-07-30|                   2018-08-07|                   2018-08-07|              11|                        11|                   0|             1|f177554ea93259a5b...|8602a61d680a10a82...|2018-07-31 17:30:39|  45.0|        12.98|    1|
|000f25f4d72195062...|86ade8ebc14f18dd6...|   delivered|              2018-03-07|       2018-03-07|                  2018-03-16|                   2018-03-22|                   2018-04-11|              15|                        35|                   0|             1|1c05e0964302b6cf6...|7c67e1448b00f6e96...|2018-03-21 11:10:11|119.99|         44.4|    1|
|001021efaa8636c29...|2dfbf74859104caf1...|   delivered|              2018-02-27|       2018-02-27|                  2018-02-27|                   2018-03-08|                   2018-03-23|               9|                        24|                   0|             0|5d7c23067ed3fc8c6...|6560211a19b47992c...|2018-03-05 09:35:41|  49.0|         15.1|    1|
+--------------------+--------------------+------------+------------------------+-----------------+----------------------------+-----------------------------+-----------------------------+----------------+--------------------------+--------------------+--------------+--------------------+--------------------+-------------------+------+-------------+-----+
only showing top 5 rows

### Seller 와 Customer 사이의 거리 계산

In [18]:
sellers = spark.read.csv('/app/spark/Olist/dim_table/dim_sellers.csv',header=True,inferSchema=True)
order_items = order_items.join(sellers,on='seller_id')
order_items.show(5)

+--------------------+--------------------+--------------------+------------+------------------------+-----------------+----------------------------+-----------------------------+-----------------------------+----------------+--------------------------+--------------------+--------------+--------------------+-------------------+------+-------------+-----+----------------------+-----------+------------+-------------+-------------------+------------------+
|           seller_id|            order_id|         customer_id|order_status|order_purchase_timestamp|order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|days_to_delivery|estimated_days_to_delivery|delay_flag_estimated|delay_flag_avg|          product_id|shipping_limit_date| price|freight_value|count|seller_zip_code_prefix|seller_city|seller_state|seller_region|         seller_lat|        seller_lng|
+--------------------+--------------------+--------------------+------------+------------------------+-----------------+----------------------------+-----------------------------+-----------------------------+----------------+--------------------------+--------------------+--------------+--------------------+-------------------+------+-------------+-----+----------------------+-----------+------------+-------------+-------------------+------------------+
|01bcc9d254a0143f0...|0580802ab0d4809dc...|624dd44e174c96c79...|   delivered|              2018-01-15|       2018-01-15|                  2018-01-17|                   2018-01-27|                   2018-02-20|              12|                        36|                   0|             1|8097e6d8de77768d9...|2018-01-19 17:36:23|121.35|        34.65|    1|                 76400|     uruacu|          GO|       중서부|-14.518522867646602| -49.1319174044097|
|01bcc9d254a0143f0...|0580802ab0d4809dc...|624dd44e174c96c79...|   delivered|              2018-01-15|       2018-01-15|                  2018-01-17|                   2018-01-27|                   2018-02-20|              12|                        36|                   0|             1|8097e6d8de77768d9...|2018-01-19 17:36:23|121.35|        34.65|    1|                 76400|     uruacu|          GO|       중서부|-14.525447183705056|-49.15490879807667|
|01bcc9d254a0143f0...|0580802ab0d4809dc...|624dd44e174c96c79...|   delivered|              2018-01-15|       2018-01-15|                  2018-01-17|                   2018-01-27|                   2018-02-20|              12|                        36|                   0|             1|8097e6d8de77768d9...|2018-01-19 17:36:23|121.35|        34.65|    1|                 76400|     uruacu|          GO|       중서부|-14.524558972222868|-49.13725383502327|
|01bcc9d254a0143f0...|0580802ab0d4809dc...|624dd44e174c96c79...|   delivered|              2018-01-15|       2018-01-15|                  2018-01-17|                   2018-01-27|                   2018-02-20|              12|                        36|                   0|             1|8097e6d8de77768d9...|2018-01-19 17:36:23|121.35|        34.65|    1|                 76400|     uruacu|          GO|       중서부|-14.526133604109916| -49.1367657613145|
|01bcc9d254a0143f0...|0580802ab0d4809dc...|624dd44e174c96c79...|   delivered|              2018-01-15|       2018-01-15|                  2018-01-17|                   2018-01-27|                   2018-02-20|              12|                        36|                   0|             1|8097e6d8de77768d9...|2018-01-19 17:36:23|121.35|        34.65|    1|                 76400|     uruacu|          GO|       중서부|-14.528351446848369|-49.13322655370218|
+--------------------+--------------------+--------------------+------------+------------------------+-----------------+----------------------------+-----------------------------+-----------------------------+----------------+--------------------------+--------------------+--------------+--------------------+-------------------+------+-------------+-----+----------------------+-----------+------------+-------------+-------------------+------------------+
only showing top 5 rows

In [20]:
customers = spark.read.csv('/app/spark/Olist/dim_table/dim_customers.csv',inferSchema=True,header=True)
mart_overall = order_items.join(customers,on='customer_id')
mart_overall.show(5)

25/03/17 13:43:40 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+--------------------+--------------------+--------------------+------------+------------------------+-----------------+----------------------------+-----------------------------+-----------------------------+----------------+--------------------------+--------------------+--------------+--------------------+-------------------+-----+-------------+-----+----------------------+-----------+------------+-------------+-------------------+------------------+--------------------+------------------------+-------------+--------------+------------------+------------------+---------------+
|         customer_id|           seller_id|            order_id|order_status|order_purchase_timestamp|order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|days_to_delivery|estimated_days_to_delivery|delay_flag_estimated|delay_flag_avg|          product_id|shipping_limit_date|price|freight_value|count|seller_zip_code_prefix|seller_city|seller_state|seller_region|         seller_lat|        seller_lng|  customer_unique_id|customer_zip_code_prefix|customer_city|customer_state|      customer_lat|      customer_lng|customer_region|
+--------------------+--------------------+--------------------+------------+------------------------+-----------------+----------------------------+-----------------------------+-----------------------------+----------------+--------------------------+--------------------+--------------+--------------------+-------------------+-----+-------------+-----+----------------------+-----------+------------+-------------+-------------------+------------------+--------------------+------------------------+-------------+--------------+------------------+------------------+---------------+
|000379cdec6255224...|4a3ca9315b744ce9f...|0ab7fb08086d4af91...|   delivered|              2018-04-02|       2018-04-04|                  2018-04-04|                   2018-04-13|                   2018-04-18|               9|                        14|                   0|             0|868b3136c5b206f91...|2018-04-10 03:10:19| 93.0|        14.01|    1|                 14940|   ibitinga|          SP|       남동부|  -21.7664768468313|-48.83154737836604|0b83f73b19c2019e1...|                    4841|    sao paulo|            SP|-23.73870891292228|-46.68933298902944|         남동부|
|000379cdec6255224...|4a3ca9315b744ce9f...|0ab7fb08086d4af91...|   delivered|              2018-04-02|       2018-04-04|                  2018-04-04|                   2018-04-13|                   2018-04-18|               9|                        14|                   0|             0|868b3136c5b206f91...|2018-04-10 03:10:19| 93.0|        14.01|    1|                 14940|   ibitinga|          SP|       남동부|  -21.7506212217083|-48.83149741274348|0b83f73b19c2019e1...|                    4841|    sao paulo|            SP|-23.73870891292228|-46.68933298902944|         남동부|
|000379cdec6255224...|4a3ca9315b744ce9f...|0ab7fb08086d4af91...|   delivered|              2018-04-02|       2018-04-04|                  2018-04-04|                   2018-04-13|                   2018-04-18|               9|                        14|                   0|             0|868b3136c5b206f91...|2018-04-10 03:10:19| 93.0|        14.01|    1|                 14940|   ibitinga|          SP|       남동부|-21.748902703984903|-48.81459759986821|0b83f73b19c2019e1...|                    4841|    sao paulo|            SP|-23.73870891292228|-46.68933298902944|         남동부|
|000379cdec6255224...|4a3ca9315b744ce9f...|0ab7fb08086d4af91...|   delivered|              2018-04-02|       2018-04-04|                  2018-04-04|                   2018-04-13|                   2018-04-18|               9|                        14|                   0|             0|868b3136c5b206f91...|2018-04-10 03:10:19| 93.0|        14.01|    1|                 14940|   ibitinga|          SP|       남동부|-21.752014489691742| -48.8391193720703|0b83f73b19c2019e1...|                    4841|    sao paulo|            SP|-23.73870891292228|-46.68933298902944|         남동부|
|000379cdec6255224...|4a3ca9315b744ce9f...|0ab7fb08086d4af91...|   delivered|              2018-04-02|       2018-04-04|                  2018-04-04|                   2018-04-13|                   2018-04-18|               9|                        14|                   0|             0|868b3136c5b206f91...|2018-04-10 03:10:19| 93.0|        14.01|    1|                 14940|   ibitinga|          SP|       남동부| -21.75355579354766|-48.84118562023449|0b83f73b19c2019e1...|                    4841|    sao paulo|            SP|-23.73870891292228|-46.68933298902944|         남동부|
+--------------------+--------------------+--------------------+------------+------------------------+-----------------+----------------------------+-----------------------------+-----------------------------+----------------+--------------------------+--------------------+--------------+--------------------+-------------------+-----+-------------+-----+----------------------+-----------+------------+-------------+-------------------+------------------+--------------------+------------------------+-------------+--------------+------------------+------------------+---------------+
only showing top 5 rows

In [21]:
col = ['seller_lat', 'seller_lng', 'customer_lat', 'customer_lng']

In [22]:
from geopy.distance import geodesic

def calculate_distance(x):
    seller_coords = (x['seller_lat'], x['seller_lng'])
    customer_coords = (x['customer_lat'], x['customer_lng'])
    return geodesic(seller_coords, customer_coords).kilometers

In [ ]:
mart_overall = mart_overall.toPandas()

In [23]:
mart_overall['distance'] = mart_overall[col].apply(lambda x: calculate_distance(x), axis=1)
mart_overall['distance']

AttributeError: 'DataFrame' object has no attribute 'apply'

In [27]:
overall_joined.drop(columns=['seller_lat', 'seller_lng', 'customer_lat', 'customer_lng'], inplace=True)
overall_joined.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,days_to_delivery,estimated_days_to_delivery,...,seller_city,seller_state,seller_region,season,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_region,distance
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,8,15,...,maua,SP,남동부,rainy,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,남동부,18.566632
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,12,17,...,belo horizonte,MG,남동부,dry,af07308b275d755c9edb36a90c618231,47813,barreiras,TO,북부,856.076259
2,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,12,17,...,belo horizonte,MG,남동부,dry,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,북동부,961.437029
3,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,9,26,...,guariba,SP,남동부,dry,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,중서부,512.100044
4,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,13,26,...,belo horizonte,MG,남동부,rainy,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN,북동부,1816.085655

In [ ]:
# overall_joined.to_csv('mart_orders.csv', index=False)